<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item [routerLink]="['/signup']" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item [routerLink]="['/login']" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item [routerLink]="['/training']" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">training</span>
  </a>
  <mat-list-item *ngIf="isAuth" (click)="onLogout()" style="cursor: pointer;">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
