<article
  class="signup-article"
  fxFlexFill
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <!-- <a [routerLink]="['/']" style="text-decoration: none">
    <span
      fxLayout="column"
      fxLayoutAlign="center center"
      class="span-pets-icon"
    >
      <mat-icon class="pets-icon">pets</mat-icon>
    </span>
  </a> -->
  <section>
    <!-- <p style="color: #e0f7fa; text-align: center">SIGN IN</p> -->
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Enter your email or username</mat-label>
        <input
          type="email"
          matInput
          ngModel
          name="email"
          email
          required
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.hasError('required')">
          Field must not be empty.</mat-error
        >
        <mat-error *ngIf="!emailInput.hasError('required')">
          E-mail is invalid.</mat-error
        >
        <!--
          <mat-icon
            matSuffix
            [color]="
              emailInput.hasError('required') && emailInput.touched
                ? 'warn'
                : 'accent' && !emailInput.hasError('email')
                ? 'accent'
                : 'warn'
            "
            >email</mat-icon
          >
        -->
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        hintLabel="Should be at least 6 characters long."
      >
        <mat-label>Enter your password</mat-label>
        <input
          type="password"
          matInput
          ngModel
          name="password"
          required
          minlength="6"
          #pwInput="ngModel"
        />
        <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
        <!--
          <mat-icon
            matSuffix
            [color]="
              pwInput.hasError('required') && pwInput.touched
                ? 'warn'
                : 'accent' && (pwInput.value?.length <= 5 && pwInput.touched)
                ? 'warn'
                : 'accent'
            "
            >visibility_off</mat-icon
          >
        -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter Your birthdate</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [max]="maxDate"
          ngModel
          name="birthdate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <mat-checkbox ngModel name="agree" color="accent" required
        >Agree to terms and conditions.</mat-checkbox
      >
      <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary">Submit</button>
    </form>
  </section>
</article>
