article.signup-article {
  background-color: #ffff00;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E"); */
  background: url(../../../assets/Vanishing-Stripes.svg);
  background-attachment: fixed;
  position: absolute;

  background: -webkit-linear-gradient(
      315deg,
      hsla(170.52, 92.59%, 45.08%, 1) 0%,
      hsla(170.52, 92.59%, 45.08%, 0) 70%
    ),
    -webkit-linear-gradient(65deg, hsla(173.5, 98.29%, 48.36%, 1) 10%, hsla(
            173.5,
            98.29%,
            48.36%,
            0
          )
          80%),
    -webkit-linear-gradient(205deg, hsla(270.33, 91.87%, 47.72%, 1) 100%, hsla(
            270.33,
            91.87%,
            47.72%,
            0
          )
          70%);
  background: linear-gradient(
      135deg,
      hsla(170.52, 92.59%, 45.08%, 1) 0%,
      hsla(170.52, 92.59%, 45.08%, 0) 70%
    ),
    linear-gradient(
      25deg,
      hsla(173.5, 98.29%, 48.36%, 1) 10%,
      hsla(173.5, 98.29%, 48.36%, 0) 80%
    ),
    linear-gradient(
      245deg,
      hsla(270.33, 91.87%, 47.72%, 1) 100%,
      hsla(270.33, 91.87%, 47.72%, 0) 70%
    );
}

section {
  padding: 10px;
  /* box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); */
}

mat-form-field {
  width: 300px;
}

.span-pets-icon {
  height: 37px;
}

.pets-icon {
  font-size: 3em;
  height: 50px;
  width: 50px;
  color: #d6d6d6;
  border-radius: 50%;
  padding: 6px;
  margin-bottom: 63px;
  /* box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); */
}
